<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Search term</th>
      <th>Recipe name</th>
      <th>Cuisine Type</th>
      <th>Diet type</th>
      <th>Total time</th>
      <th>Calories</th>
      <th>CHO</th>
      <th>Fat</th>
      <th>Protein</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>avocado</td>
      <td>Breakfast naans</td>
      <td>indian</td>
      <td>none</td>
      <td>10</td>
      <td>1086</td>
      <td>110</td>
      <td>64</td>
      <td>30</td>
      <td><a href=https://www.bbcgoodfood.com/recipes/breakfast-naans><div>https://www.bbcgoodfood.com/recipes/breakfast-naans</div></a></td>
    </tr>
    <tr>
      <th>1</th>
      <td>avocado</td>
      <td>Sweet-n-Hot Guac</td>
      <td>indian</td>
      <td>none</td>
      <td>3</td>
      <td>472</td>
      <td>57</td>
      <td>30</td>
      <td>7</td>
      <td><a href=https://food52.com/recipes/6304-sweet-n-hot-guac><div>https://food52.com/recipes/6304-sweet-n-hot-guac</div></a></td>
    </tr>
    <tr>
      <th>2</th>
      <td>avocado</td>
      <td>Veggie Sandwich</td>
      <td>indian</td>
      <td>none</td>
      <td>10</td>
      <td>331</td>
      <td>48</td>
      <td>13</td>
      <td>10</td>
      <td><a href=http://www.eatingwell.com/recipe/259818/veggie-sandwich/><div>http://www.eatingwell.com/recipe/259818/veggie-sandwich/</div></a></td>
    </tr>
    <tr>
      <th>3</th>
      <td>avocado</td>
      <td>Cucumber and Avocado Lassi recipes</td>
      <td>indian</td>
      <td>none</td>
      <td>10</td>
      <td>150</td>
      <td>13</td>
      <td>10</td>
      <td>5</td>
      <td><a href=http://recipes-plus.com/recipe/cucumber-avocado-lassi-30039><div>http://recipes-plus.com/recipe/cucumber-avocado-lassi-30039</div></a></td>
    </tr>
    <tr>
      <th>4</th>
      <td>avocado</td>
      <td>Indian Spinach Dip Recipe</td>
      <td>american, indian</td>
      <td>none</td>
      <td>5</td>
      <td>514</td>
      <td>33</td>
      <td>42</td>
      <td>13</td>
      <td><a href=http://www.grouprecipes.com/426/indian-spinach-dip.html><div>http://www.grouprecipes.com/426/indian-spinach-dip.html</div></a></td>
    </tr>
    <tr>
      <th>5</th>
      <td>avocado</td>
      <td>Tomatoes Stuffed with Curried Chicken Salad recipes</td>
      <td>indian</td>
      <td>none</td>
      <td>5</td>
      <td>1208</td>
      <td>47</td>
      <td>92</td>
      <td>57</td>
      <td><a href=http://mylifecookbook.com/2015/09/05/tomatoes-stuffed-with-curried-chicken-salad/><div>http://mylifecookbook.com/2015/09/05/tomatoes-stuffed-with-curried-chicken-salad/</div></a></td>
    </tr>
    <tr>
      <th>6</th>
      <td>avocado</td>
      <td>Tasty Open Faced Naan Sandwich</td>
      <td>indian</td>
      <td>none</td>
      <td>7</td>
      <td>1201</td>
      <td>110</td>
      <td>72</td>
      <td>33</td>
      <td><a href=https://www.justapinch.com/recipes/main-course/sandwiches/tasty-open-faced-naan-sandwich.html><div>https://www.justapinch.com/recipes/main-course/sandwiches/tasty-open-faced-naan-sandwich.html</div></a></td>
    </tr>
  </tbody>
</table>